<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <Link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/CreateUser">Create User</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div style="display: grid; justify-content: center;">
        <h2 style="text-align: center; padding-top: 30px;">Danh sách User</h2>
        <table class="user-table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Họ và Tên</th>
                    <th>Thành phố</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>example1@gmail.com</td>
                    <td>Nguyễn Văn A</td>
                    <td>Hà Nội</td>
                </tr>
                <tr>
                    <td>example2@gmail.com</td>
                    <td>Trần Thị B</td>
                    <td>Đà Nẵng</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>