<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <Link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/CreateUser">Create User</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div style="display: grid; justify-content: center;">
        <h2 style="text-align: center; padding-top: 30px;">Danh sách User</h2>
        <table class="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (typeof users !=='undefined' && users.length> 0) { %>
                    <% users.forEach(user=> { %>
                        <tr>
                            <td>
                                <%= user.id %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.city %>
                            </td>
                            <td>
                                <button class="submit-btn2">submit</button>
                                <button class="submit-btn3">cancer</button>
                            </td>
                        </tr>
                        <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="4" style="text-align: center;">Chưa có dữ liệu người dùng.</td>
                                </tr>
                                <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>