<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>hello</h1>
    <img src="/images/1759322836452-Gemini_Generated_Image_7lhuuw7lhuuw7lhu (3).png" alt="">
</body>

</html>